header {
    position: sticky ;
    top: 1.25rem;
    padding-top: 0.625rem;
    padding-bottom: 0.3125rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-radius: 2.5rem;
    margin-top: 3.5rem;
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
    
}
.titre {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    margin-top: -8.75rem;
    
    }
    
    .div3 { grid-area: 1 / 1 / 11 / 6;
        padding-bottom: 1.25rem;}
    .div4 { grid-area: 3 / 2 / 8 / 5;
        display: flex;
        justify-content: center;
        margin-top: 2.5rem; }
    .div5 { grid-area: 9 / 3 / 10 / 4;
        display: flex;
        justify-content: center;
        
     }

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 0rem;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: max-content;
    
    }
    
    .div1 { grid-area: 1 / 1 / 4 / 4; 
        border-style: solid;
        border-width: 1.5px;
        border-color: #ffffff;}
    .div2 { grid-area: 3 / 1 / 4 / 4; 
    background-color: rgba(0, 0, 0, 0.6 );
    color: white;
    padding-left: 10px;
    
    }
h3{
    color: rgb(130, 189, 221);
    font-family: 'Electrolize', sans-serif;
}
h2{
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
h4{
    font-size: x-large;
    font-family: 'Electrolize', sans-serif;
    font-weight: lighter;
    
}
h5{
    font-size: small;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: lighter;
}
h6{
    font-size: x-large;
    color: rgb(255, 255, 255); 
    font-family: 'Electrolize', sans-serif;
    padding-top: 2.5rem;

}


h7{
    font-size: small;
    font-family: 'Montserrat', sans-serif;
    
    
}
.Chapo{
    font-weight:900;
    font-size: larger;
    color: rgb(0, 0, 0);
    margin-left: 1.25rem;
    font-family: 'Hind', sans-serif;
}
.texte{
    color: rgb(0, 0, 0);
    margin-top: 0.625rem;
    margin-left: 1.25rem;
    font-family: 'Hind', sans-serif;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    font-size: larger;
    font-weight: 500;
    
}

footer{
    color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    display: flex;
    justify-content: center;
    }
    
    .div6 { grid-area: 1 / 1 / 2 / 11;
    margin-top: 7.5rem; }
    .div7 { grid-area: 2 / 1 / 3 / 11;
    margin-left: 8.75rem;
    margin-top: -1.875rem; }
    .div8 { grid-area: 3 / 1 / 4 / 11; 
    margin-left: 4.375rem;
margin-top: 3.125rem;}
    .div9 { grid-area: 4 / 1 / 5 / 7;
    margin-left: 7.5rem;
    margin-bottom: -6.25rem;
margin-top: 3.125rem; }
    .div10 { grid-area: 4 / 8 / 5 / 11; 
    margin-left: 16.875rem;
    position: relative  ;}

.imagetexte {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    margin-top: -8.125rem;
    
    
    }
    
    .div11 { grid-area: 1 / 1 / 5 / 5;
    display: flex;
    justify-content: center; }
    .div12 { grid-area: 5 / 1 / 7 / 5;
    margin-top: -0.3125rem; }
    .div13 { grid-area: 4 / 2 / 7 / 4;
    padding-left: 2.5rem; }

.imageintertexte{
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: translateY(100vh);
    margin-left: 0;
    transition: all 1s;
    z-index: 1;
    
    }
.menu-open .menu{
    transform: translateY(0);
}
.menu ul{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Hind', sans-serif;
}
.menu li {
    margin-bottom: 1.875rem;
}
.header_menuBtn {
    position: relative;
    z-index: 10;
    }
    .noscroll,

button{
    background-color: transparent;
    border-color: transparent;
}

a {
    color: #ffffff;
    text-decoration: none;
}


.drapeau{
    padding-top: 0.60rem;
    height: 1.75rem;
    z-index: 2;
    position: relative;
}
.nav-toogle-bar{
    z-index: 2;
}
.logo{
    z-index: 2;
}
.menu-open
.menu-open body{
    overflow: hidden;
}
.scroll{
    transition: all 5s;
}
.titrecontent{
    color: rgb(0, 0, 0);
    margin-top: 0.625rem;
    margin-left: 5.25rem;
    font-family: 'Hind', sans-serif;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    font-size: xx-large;
    font-weight: 700;
}

.field {
    margin-top: 56px;
    position: relative;
    height: 62px;
    width: 100%;
    max-width: 150px;
    color: #ffffff;
    overflow: hidden;
    border-radius: 20px;
    z-index: 0;
    border-style: double;
    padding-bottom: 56px;
    
}

.field input {
    position: absolute;
    height: 100%;
    width: 100%;
    color: #ffffff;
    line-height: 52px;
    outline: 0;
    background-color: black;
    padding-top: 25px;
    border: 2px white;
    box-sizing: border-box;

}

.field .label-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    background-color: black;
    left: 0;
    pointer-events: none;
    border-bottom: 1px #ffffff;

}

.field .label-wrapper::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 3px #ff9945;
    left: 0;
    bottom: -1px;
    transform: translateX(-100%);
    transition: transform 0.2s ease;

}

.field .label-text {
    position: absolute;
    bottom: 50px;
    left: 0px;
    transition: all 0.2s ease;

}
.field input:focus + .label-wrapper .label-text,
.field input:valid + .label-wrapper .label-text {
    font-size: 12px;
    color: #ff9945;
    transform: translateY(-150%);

}
.field input:focus + .label-wrapper::after,
.field input:valid + .label-wrapper::after {
    transform: translateX(0%);

}
.contact{
    background-color: black;
}
.about{
    background-color: black;
    color: #ffffff;
    font-family: 'Hind', sans-serif;
}
.avatar_block {
    position: relative;
    display: block;
    text-align: center;
}

.avatar{
    max-width: 50%;
}
.about h1{
    position: relative;
    display: block;
    text-align: center;
}
.texteabout{
    color: rgb(255, 255, 255);
    margin-top: 0.625rem;
    margin-left: 1.25rem;
    font-family: 'Hind', sans-serif;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    font-size: larger;
    font-weight: 500;
}
.projet{
    max-width: 40%;

}
.soustexte{
    color: rgb(0, 0, 0);
    margin-top: 0.625rem;
    margin-left: 1.25rem;
    font-family: 'Hind', sans-serif;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    font-size: large;
    font-weight: 200;
}
form {
    display: flex;
    box-sizing: border-box;   
    font-family: "Poppins", sans-serif;
    padding: 40px;
    flex-direction: column;
    gap: 10px;
    color: #ffffff;
    
  }

  .inputBox {
    position: relative;
    width: 250px; 
  }
  .inputBox input {
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 1em;
    background-color: #d6d6d6;
  }
  
  .inputBox span {
    position: absolute;
    margin-top: -40px;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgb(0, 0, 0);
    z-index: 1;
  }
  
  .inputBox input:valid ~ span,
  .inputBox input:focus ~ span {
    font-size: 0;
  }
  
  #fname {
      margin-top: 10px;
      margin-right: auto;
      padding-left: 10px;
  }
  
  .button-28 {
    border: 2px solid #ffffff;
    border-radius: 30px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    height: 50px;
    width: 200px;
    outline: none;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: rgba(255, 255, 255, 0.25) 0 8px 15px;
  }
  